@import '../../../../styles/theme';

:host {
  display: block;
}

header {
  color: mat-contrast($app-primary, 500);
  background: mat-color($app-primary);
  padding: 48px 32px;
}

[mat-stroked-button] {
  border-radius: 8px;
}
