<header fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
  <div class="mat-display-1">Who use Angular in Japan?</div>

  <div class="mat-body-1">
    日本国内でAngular/AngularJSを利用している会社・組織をリストアップしています。<br>
    The list of companies who use Angular/AngularJS in Japan.
  </div>

  <a mat-stroked-button href="https://github.com/ng-japan/who-use-angular-in-japan/blob/master/ADD_ORGANIZATION.md">
    <div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="8px">
      <div>Add your Organization</div>
      <mat-icon>add</mat-icon>
    </div>
  </a>
</header>
