<mat-card>
  <mat-card-title fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
    <div class="mat-caption">#{{ index }}</div>
    <div class="mat-subtitle">{{ organization.name }}</div>
  </mat-card-title>
  <mat-card-subtitle>
    <a [href]="organization.websiteUrl" target="_blank">{{ organization.websiteUrl }}</a>
  </mat-card-subtitle>
  <mat-card-content fxLayout="column" fxLayoutGap="16px">
    <div class="mat-body-1 description" [innerHTML]="organization.description  | toHtml | safeHtml"></div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayooutAlign="start center">
      <img *ngIf="organization.ngVersions.angularjs" class="angularIcon" src="/assets/image/angularjs.svg">
      <img *ngIf="organization.ngVersions.angular" class="angularIcon" src="/assets/image/angular.svg">
      <img *ngIf="organization.ngVersions.ionic" class="angularIcon" src="/assets/image/ionic.svg">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a *ngIf="organization.publicUrl" mat-button color="primary" [href]="organization.publicUrl" target="_blank">
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
        <div>公開URL</div>
        <mat-icon>open_in_new</mat-icon>
      </div>
    </a>
  </mat-card-actions>
</mat-card>
