@import '~@angular/material/theming';

$app-font-family: "'Montserrat', sans-serif";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $app-font-family;
  background-color: map-get($mat-light-theme-background, background);
}

$custom-typography: mat-typography-config(
  $font-family: $app-font-family
);

@include mat-core($custom-typography);
